/*********************************************

This is the style file for this project.

**********************************************/
body
{
    margin-top: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    margin-left: 120px;

    background-color: #abfaa9;
}

div
{
    font: 32px courier;

    color: #abfaa9;
    background-color: #82d173;
}

/* this is a class */
.redacted
{
    color: black;
    background-color: black;
}

.revealed
{
    color: red;
    background-color: transparent;
}

.secret
{
    color: #82d173;
}

.found
{
    color: #abfaa9;
}
