@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';


#mashup
{
    font-family: 'Kaushan Script';
    font-size: 3.5vw;
    line-height: 3vw;

    text-align: center;
    letter-spacing: 2px;

    color: #aaa;
}

#proverb1
{
    font-family: monospace;
    font-size: 2vw;

    text-align: left;
    letter-spacing: 2px;

    color: #f1e8b8;
}

#pos1
{
    font-family: monospace;
    font-size: 2vw;

    text-align: left;
    letter-spacing: 2px;

    color: #f1e8b8;
}

#proverb2
{
    font-family: monospace;
    font-size: 2vw;

    text-align: right;
    letter-spacing: 2px;

    color: red;
}

#pos2
{
    font-family: monospace;
    font-size: 2vw;

    text-align: right;
    letter-spacing: 2px;

    color: red;
}

body
{
    background-color: #191919;
}
