h1
{
    font-family: helvetica;
    font-size: 6vw;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #f1e8b8;
}

p
{
    font-family: helvetica;
    font-size: 6vw;
    line-height: 3vw;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #aaa;
}

body
{
    background-color: #191919;
}
