#name
{
    font-family: monospace;
    font-size: 3.5vw;
    line-height: 3vw;

    text-align: center;
    letter-spacing: 2px;

    color: #aaa;
}

#quote
{
    font-family: monospace;
    font-size: 2vw;

    text-align: center;
    letter-spacing: 2px;

    color: #f1e8b8;
}

#response
{
    font-family: monospace;
    font-size: 2vw;

    text-align: center;
    letter-spacing: 2px;

    color: red;
}

body
{
    background-color: #191919;
}
