
.big-img
{
    display: block;

    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.small-img
{
    position: absolute;
    top: 35%;
    right: 35%;
}


body
{
    background-color: #c0c0c0;
}
