body
{
    margin: 0;

    text-align: center;
}


canvas
{
    margin: 20px auto;
}

button
{
    font-family: 'JosefinSlab-Regular';
    font-size: 32px;
    font-weight: 300;

    margin: 10px;
    padding: 10px;

    cursor: pointer;

    color: white;
    border: none;
    outline: none;
    background: orange;
}
